/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #303030;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

img {
    width: 100%;
    height: auto;
}

.lingua img {
    width: 20px;
    height: auto;

}

/*NAV*/

.nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    
}

.logo {
    padding: 10px 0;
}

.nav img {
    height: 70px;
    width: auto;
}

.search {
    align-self: center;
}

.search input {
    padding: 3px 20px;
    border: none;
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(90 89 89);
}

.search button {
    background-color: #e30714;
    color: white;
    padding: 5px 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 12px;
    font-size: 11px;
}

/*CONTAINER*/

.film-container {
    
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

/*SINGOLO FILM/SERIE*/
.film , .serie{
    
    max-width: 340px;
    height: 500px ;
    text-align: center;
    margin: 0 20px;
    margin-bottom: 20px;
    position: relative ;
}

/*INFO FILM/SERIE*/
.media-info {
    height: 100%;
    width: 100%;
    text-align: left;
    color: white;
    font-weight: 100;
    font-size: 14px;
    padding: 40px 30px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
}

.titolo {
    font-size: 24px;
}

.titolo, .titolo-originale, .lingua, .voto, .cast, .genere, .overview {
    padding: 4px 0;
}

.overview {
    display: inline-block;
}

.voto {
    color: #fdbc00;
    float: left;
}

/*POSTER*/
img.image-not-found {
    height: -webkit-fill-available;
    object-fit: cover;
    border-radius: 8px;
}

img.image {
    height: -webkit-fill-available;
    object-fit: fill;
    border-radius: 8px;
}

/*HOVER*/
.film:hover .media-info {
    opacity: 1;
    cursor: pointer;
}

.serie:hover .media-info {
    opacity: 1;
    cursor: pointer;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    background-color: rgb(48, 48, 48);
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(48, 48, 48);
    border-radius: 16px;
    border: 4px solid rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-button {
    display:none;
}