<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolfix</title>

    <!--VUE-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!--CSS-->
    <link rel="stylesheet" href="style.css">

    <!--GOOGLE FONTS : ROBOTO-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!--AXIOS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script> 
</head>
<body>

    <div id="root">

        <div class="nav">
            <input type="text" placeholder="Scrivi un titolo" v-model="userQuery">
            <button @click="callingApi" >Cerca</button>
        </div>

        

        <div class="film-container">

            <!--singolo film-->
            <div class="film" v-for="film in films">
                <img :src="'https://image.tmdb.org/t/p/' + 'w342' + (film.backdrop_path || film.poster_path) " alt="">
                <div class="titolo">{{film.title}}</div>
                <div class="titolo-originale">{{film.original_title}}</div>
                <div class="lingua">
                    <img :src="'img/' + film.original_language + '.png'" alt="">
                </div>
                <div class="voto">{{film.vote_average}}</div>
            </div>
            <!--fine singolo film-->

            <!--singola serie-->
            <div class="serie" v-for="serie in series">
                <img :src="'https://image.tmdb.org/t/p/' + 'w342' + (serie.backdrop_path || serie.poster_path) " alt="">
                <div class="titolo">{{serie.name}}</div>
                <div class="titolo-originale">{{serie.original_name}}</div>
                <div class="lingua">
                    <img :src="'img/' + serie.original_language + '.png'" alt="">
                </div>
                <div class="voto">{{serie.vote_average}}</div>
            </div>
            <!--fine singola serie-->
        </div>
        
    </div>
    

    <!--JAVASCRIPT-->
    <script src="script.js"></script>
</body>
</html>