/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

img {
    width: 20%;
    height: auto;
}

.lingua img {
    width: 20px;
    height: auto;

}

/*VOTO*/

.voto {
    color: #fdbc00;
    float: left;
}